h1{color: rgb(202, 200, 198);
   font-style: italic;
   text-align: center;}

 h2,h3{color: rgb(202, 200, 198);
       font-style: italic;}

body{background-color: rgb(18, 39, 56);
      background-image: 100% 100%;}
    

nav a{color: rgb(202, 200, 198);
      text-decoration: none;
      font-size: 20px;
      font-style: italic;}

nav{text-align: center;}

h1,h2,h3,body,ul{font-family: Verdana, Arial, sans-serif;}

#wrapper{margin-left: auto;
      margin-right: auto;
      width: 80%;
      background-color: #ffffff;
      padding: 2em;}

a{text-decoration:none;
  color: black;}



